{
  "extends": [
    "angular"
  ],
  "rules": {
    "angular/ng_controller_name": [2, "/[A-Z].*Ctrl$/"],
    "angular/ng_json_functions": 0,
    "angular/ng_window_service": 0,
    "angular/ng_document_service": 0,
    "consistent-this": 0,
    "no-warning-comments": [0, { "terms": ["todo", "fixme", "TODO"], "location": "start" }],
    "no-inline-comments": 0,
    "brace-style": [2, "stroustrup", { "allowSingleLine": true }],
    "curly": 0,
    "eqeqeq": 0,
    "vars-on-top": 0,
    "radix": 0

  }
}
